<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width>, initial-scale=1.0">
  <title>Document</title>
  <!--외부 스타일 external style 다른곳의 스타일을 가져와서 쓴다-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
  
  <link href="css/layout4.css" rel="stylesheet" />

  <style>
    article > p:first-child { color:blue;}
  </style>  

</head>
<body>
  <main>
    <header>Cities</header>
    <nav>
      <ul>
        <li><a href="layout4.html">London</a></li>
        <li><a href="layout4-2.html">Paris</a></li>
        <li><a href="layout4-3.html">Seoul</a></li>
      </ul>
    </nav>
    <article>
      <p>Paris</p>
      <p>aris (French pronunciation: [paʁi] ⓘ) is the capital and largest city of France. With an estimated population of 2,048,472 residents in January 2025[3] in an area of more than 105 km2 (41 sq mi),[4] Paris is the fourth-most populous city in the European Union and the 30th most densely populated city in the world in 2022.[5] Since the 17th century, Paris has been one of the world's major centres of finance, diplomacy, commerce, culture, fashion, and gastronomy. Because of its leading role in the arts and sciences and its early adoption of extensive street lighting, Paris became known as the City of Light in the 19th century.[6]

The City of Paris is the centre of the Île-de-France region, or Paris Region, with an official estimated population of 12,271,794 inhabitants in January 2023, or about 19% of the population of France.[3] The Paris Region had a nominal GDP of €765 billion (US$1.064 trillion when adjusted for PPP)[7] in 2021, the highest in the European Union.[8] According to the Economist Intelligence Unit Worldwide Cost of Living Survey, in 2022, Paris was the city with the ninth-highest cost of living in the world.[9]</p>
      <p>국채를 모집하거나 예산외에 국가의 부담이 될 계약을 체결하려 할 때에는 정부는 미리 국회의 의결을 얻어야 한다. 학교교육 및 평생교육을 포함한 교육제도와 그 운영, 교육재정 및 교원의 지위에 관한 기본적인 사항은 법률로 정한다</p>
      </article>
    <footer>&copy; Hoon's Company Since 2020 <br>&#8361;5000 &yen;500</footer>
  </main>
</body>
</html>